@import "Connector";
$selected-background-color: rgba(219, 234, 252, 0.5);
$max-width: 50px;

@mixin PetriNets_decorator_core {
  .petrinets-decorator {
    text-align: center;
  }

  text.port-name {
    fill: #000;
    font-size: 11px;

    &.right {
      text-anchor: end;
    }
  }

  .name {
    white-space: nowrap;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 11px;
  }

  .connector {
    @include connector_basics;

    border-radius: 0px;

    left: 50%;

    &.top {
      top: $connector-size / -2;
    }

    &.bottom {
      bottom: $connector-size / -2;
    }
  }

  .connector-container {
    position: absolute;
    top: 0px;
    left: 0px;
    transform-origin: 0 0;
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
  }
}
